<!DOCTYPE html>
<html data-ng-app="quoteBook">
<head>
    <link type="stylesheet" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body data-ng-controller="mainCtrl">

<select data-ng-model="select">
    <option value="add">Add</option>
    <option value="remove">Remove</option>
    <option value="filter">Filter</option>
</select>
<div data-ng-show="select==='add'">
    <button data-ng-click="addQuotes(quote)">Add Quote</button>
    Add Text
    <input data-ng-model="quote.text"/>
    Add Author
    <input data-ng-model="quote.author"/>
</div>
<p></p>
<div data-ng-show="select==='remove'">
    <button data-ng-click="removeQuotes(input)">Remove Quote</button>
    Remove quote:
    <input data-ng-model="input"/>
</div>
<p></p>

<div data-ng-show="select==='filter'">Filter Quotes
    <input data-ng-model="searchTerm"/>
</div>
<p></p>
<div data-ng-repeat="quote in quotes | filter:searchTerm">
    <div>{{quote.text}}</div>
    <div>{{quote.author}}</div>
    <button><i class="fa fa-anchor"></i></button>
    <p></p>
</div>





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/dataService.js"></script>
    <script src="js/mainCtrl.js"></script>
</body>
</html>